CREATE TABLE "PROFILES"
(
    USER_ID       BIGINT,
    LOGIN         VARCHAR(32),
    PASSWORD      VARCHAR(32),
    DATE_OF_BIRTH DATE,
    F_NAME        VARCHAR(32),
    S_NAME        VARCHAR(32),
    GENDER        char
);
CREATE UNIQUE INDEX user_ind
    ON "PROFILES" (USER_ID);