CREATE TABLE users
(
    USERNAME VARCHAR(50)  NOT NULL,
    PASSWORD VARCHAR(100) NOT NULL,
    ENABLED  BOOLEAN          NOT NULL DEFAULT TRUE,
    PRIMARY KEY (USERNAME)
);

CREATE TABLE authorities
(
    USERNAME  VARCHAR(50) NOT NULL,
    AUTHORITY VARCHAR(50) NOT NULL,
    FOREIGN KEY (USERNAME) REFERENCES users (USERNAME)
);

CREATE UNIQUE INDEX ix_auth_username
    on authorities (USERNAME, AUTHORITY);

CREATE TABLE "NOTES"
(
    USERNAME          VARCHAR(32),
    UUID            UUID PRIMARY KEY,
    LAB             VARCHAR(512),
    TEST            VARCHAR(512),
    DATE            DATE,
    RESULT          VARCHAR(512),
    REFERENCE_RANGE VARCHAR(512),
    UNIT            VARCHAR(512),
    COMMENT         TEXT
);
DROP INDEX  IF EXISTS IND;
CREATE UNIQUE INDEX ind
    ON "NOTES" (UUID);

CREATE TABLE "PROFILES"
(
    USERNAME      VARCHAR(32),
    DATE_OF_BIRTH DATE,
    F_NAME        VARCHAR(32),
    S_NAME        VARCHAR(32),
    GENDER        char,
    FOREIGN KEY (USERNAME) REFERENCES users (username)
);
DROP INDEX  IF EXISTS user_ind;
CREATE UNIQUE INDEX user_ind
    ON "PROFILES" (USERNAME);